<header class="navbar">

  <div class="logo">
    CONFISOFTW
  </div>

  <nav>

    <a routerLink="/">
      Home
    </a>

    @if(auth.verificarLogin()){

      <!-- USUARIO -->

      @if(auth.usuarioActual?.rol === 'usuario'){

        <a routerLink="/productos">
          Productos
        </a>

        <a routerLink="/carrito">
          Carrito
        </a>

        <a routerLink="/pedidos">
          Mis Pedidos
        </a>

        <a routerLink="/perfil">
          Mi Perfil
        </a>

      }

      <!-- ADMIN -->

      @if(auth.usuarioActual?.rol === 'admin'){

        <a routerLink="/admin">
          Inventario
        </a>

        <a routerLink="/agregar-producto">
          Agregar Producto
        </a>

        <a routerLink="/pedidos">
           Historial Usuarios
        </a>

      }

      <a (click)="cerrarSesion()">
        Cerrar Sesión
      </a>

    }@else{

      <a routerLink="/login">
        Iniciar Sesión
      </a>

      <a routerLink="/register">
        Registro
      </a>

    }

  </nav>

</header>
