<header class="navbar">

  <div class="logo">
    CONFISOFTW
  </div>

  <nav>

    <a routerLink="">
      Home
    </a>

    @if(auth.verificarLogin()){

      <a routerLink="/productos">
        Productos
      </a>

      <a routerLink="/perfil">
        Mi Perfil
      </a>

      <a (click)="cerrarSesion()">
        Cerrar Sesión
      </a>

    }@else{

      <a routerLink="/login">
        Iniciar Sesión
      </a>

      <a routerLink="/register">
        Registro
      </a>

    }

  </nav>

</header>