.perfil-container{

  min-height:100vh;

  background:#fbd5e5;

  display:flex;

  justify-content:center;

  align-items:center;

  padding:40px;

}

.perfil-card{

  background:white;

  width:450px;

  padding:40px;

  border-radius:20px;

  display:flex;

  flex-direction:column;

  gap:20px;

  box-shadow:0 10px 20px rgba(0,0,0,.2);

}

.foto-perfil{

  width:150px;

  height:150px;

  border-radius:50%;

  object-fit:cover;

  margin:auto;

}

.perfil-card input{

  padding:15px;

  border:none;

  border-radius:10px;

  background:#f3f3f3;

}

.perfil-card button{

  padding:15px;

  border:none;

  border-radius:10px;

  background:#ff1493;

  color:white;

  cursor:pointer;

  font-size:18px;

}