<app-navbar></app-navbar>

<section class="admin-container">

  <div class="titulo">

    <h1>
      Panel de Administración
    </h1>

    <p>
      Gestión completa de inventario y usuarios
    </p>

  </div>

  <!-- AGREGAR PRODUCTO -->

  <div class="formulario-admin">

    <h2>
      Agregar Producto
    </h2>

    <div class="inputs">

      <input
        type="text"
        placeholder="Nombre del producto"
        [(ngModel)]="nombre"
      >

      <input
        type="number"
        placeholder="Precio"
        [(ngModel)]="precio"
      >

      <input
        type="text"
        placeholder="Categoría"
        [(ngModel)]="categoria"
      >

      <input
        type="number"
        placeholder="Stock"
        [(ngModel)]="stock"
      >

      <input
        type="text"
        placeholder="URL de imagen"
        [(ngModel)]="imagen"
      >

    </div>

    <button
      class="btn-agregar"
      (click)="agregarProducto()"
    >
      Agregar Producto
    </button>

  </div>

  <!-- INVENTARIO -->

  <div class="inventario">

    <h2>
      Inventario de Productos
    </h2>

    <div class="inventario-grid">

      <div
        class="inventario-card"
        *ngFor="let producto of productos"
      >

        <img
          [src]="producto.imagen"
          [alt]="producto.nombre"
        >

        <div class="contenido">

          <h3>
            {{ producto.nombre }}
          </h3>

          <p>
            Categoría:
            {{ producto.categoria }}
          </p>

          <p>
            Precio:
            $ {{ producto.precio }}
          </p>

          <p>
            Stock:
            {{ producto.stock }}
          </p>

          <p>
            Vendidos:
            {{ producto.vendidos }}
          </p>

          <p class="ganancia">

            Ganancia:
            $

            {{
              producto.vendidos *
              producto.precio
            }}

          </p>

        </div>

      </div>

    </div>

  </div>

  <!-- USUARIOS -->

  <div class="usuarios">

    <h2>
      Historial de Usuarios
    </h2>

    <div class="usuarios-grid">

      <div
        class="usuario-card"
        *ngFor="let usuario of usuarios"
      >

        <img
          [src]="usuario.foto"
        >

        <h3>
          {{ usuario.nombre }}
        </h3>

        <p>
          Usuario:
          {{ usuario.usuario }}
        </p>

        <p>
          Rol:
          {{ usuario.rol }}
        </p>

        <p>

          Estado:

          <span
            [class.activo]="usuario.estado === 'Activo'"
            [class.inactivo]="usuario.estado !== 'Activo'"
          >

            {{ usuario.estado }}

          </span>

        </p>

        <p>
          Pedidos:
          {{ usuario.pedidos }}
        </p>

        <p>
          Compras:
          {{ usuario.compras }}
        </p>

      </div>

    </div>

  </div>

</section>