<app-navbar></app-navbar>

<section class="admin-container">

  <h1>
    Panel Administrador
  </h1>

  <!-- AGREGAR PRODUCTO -->

  <div class="formulario-admin">

    <input
      type="text"
      placeholder="Nombre"
      [(ngModel)]="nombre"
    >

    <input
      type="number"
      placeholder="Precio"
      [(ngModel)]="precio"
    >

    <input
      type="text"
      placeholder="Categoría"
      [(ngModel)]="categoria"
    >

    <input
      type="number"
      placeholder="Stock"
      [(ngModel)]="stock"
    >

    <input
      type="text"
      placeholder="URL Imagen"
      [(ngModel)]="imagen"
    >

    <button
      (click)="agregarProducto()"
    >
      Agregar Producto
    </button>

  </div>

  <!-- INVENTARIO -->

  <h2>
    Inventario
  </h2>

  <div class="inventario-grid">

    <div
      class="inventario-card"
      *ngFor="let producto of productos"
    >

      <img
        [src]="producto.imagen"
      >

      <h3>
        {{ producto.nombre }}
      </h3>

      <p>
        Categoría:
        {{ producto.categoria }}
      </p>

      <p>
        Stock:
        {{ producto.stock }}
      </p>

      <p>
        Vendidos:
        {{ producto.vendidos }}
      </p>

      <p>
        Ganancia:
        $ {{ producto.vendidos * producto.precio }}
      </p>

    </div>

  </div>

  <!-- USUARIOS -->

  <h2>
    Usuarios Registrados
  </h2>

  <div
    class="usuario-card"
    *ngFor="let usuario of usuarios"
  >

    <h3>
      {{ usuario.nombre }}
    </h3>

    <p>
      Estado:
      {{ usuario.estado }}
    </p>

    <p>
      Pedidos:
      {{ usuario.pedidos }}
    </p>

    <p>
      Compras:
      {{ usuario.compras }}
    </p>

  </div>

</section>
