.hero{
  min-height:90vh;

  display:flex;
  justify-content:center;
  align-items:center;
  gap:50px;

  background:#fbd5e5;
  padding:50px;
}

.hero-text{
  max-width:500px;
}

.hero-text h1{
  font-size:60px;
  margin-bottom:20px;
}

.hero-text p{
  font-size:22px;
  margin-bottom:20px;
}

button{
  background:#ff69b4;
  color:white;

  border:none;
  padding:15px 30px;

  border-radius:10px;
  cursor:pointer;

  font-size:18px;
}

.hero-image img{
  width:500px;
}